
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <br>
    Copyright &copy;
    <script>
      document.write(new Date().getFullYear());
    </script>
    Muhammad Osama
  </div>
</div>
</body>
</html>
